In [1]:
import pandas as pd
import numpy as np

In [2]:
#연령 그룹화: (0,10) (20) (30) (40,50) (60) (70,80)
korean_df = pd.read_csv("./월별데이터 정리/month_korean.csv")

In [3]:
korean_df = korean_df.drop(columns=['emd_cd'])

In [4]:
korean_df['resd'].value_counts()

제주    21672
그외    21672
Name: resd, dtype: int64

In [5]:
korean_df['m'] = pd.to_datetime(korean_df['m']) #datetime type
korean_df['avg_resd'] = korean_df['sum_resd_pop_cnt']/korean_df['count_num']
korean_df['avg_work'] = korean_df['sum_work_pop_cnt']/korean_df['count_num']
korean_df['avg_visit'] = korean_df['sum_visit_pop_cnt']/korean_df['count_num']

In [6]:
# 방문객 중에는 거주자가 없음을 확인
korean_df[korean_df['resd']=="그외"]['sum_resd_pop_cnt'].unique()

array([0.])

In [7]:
korean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43344 entries, 0 to 43343
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   m                  43344 non-null  datetime64[ns]
 1   resd               43344 non-null  object
 2   sex                43344 non-null  object
 3   age                43344 non-null  int64
 4   emd_nm             43344 non-null  object
 5   count_num          43344 non-null  int64
 6   sum_resd_pop_cnt   43344 non-null  float64
 7   sum_work_pop_cnt   43344 non-null  float64
 8   sum_visit_pop_cnt  43344 non-null  float64
 9   avg_resd           43344 non-null  float64
 10  avg_work           43344 non-null  float64
 11  avg_visit          43344 non-null  float64
dtypes: datetime64[ns](1), float64(6), int64(2), object(3)
memory usage: 4.0+ MB

In [8]:
## 새로운 테이블 생성

# 성별을 담은 리스트
sex_list = list(korean_df['sex'].unique())

# 연령대를 담은 리스트
age_list = list(korean_df['age'].unique())

# 거주 행정 구역을 담은 리스트(여행객, 거주민)
resd_list = list(korean_df['resd'].unique())

# 각 동의 이름을 담은 리스트 생성
region_list = list(korean_df['emd_nm'].unique())

# 2018-01-01 ~ 2021-06-01 (주기: 월) 날짜에 동별 정보를 담은 dataframe
dt_index = pd.date_range(start='20180101', end='20210601', freq='MS')
val1 = list(dt_index)*len(region_list)
val2 = []
for i in region_list:
    for j in range(0,len(dt_index)):
        val2.append(i)
        
date_df = pd.DataFrame({'Year_Month':val1, 'emd_nm':val2})

In [9]:
age_list

[0, 20, 30, 40, 60, 70]

In [11]:
avg_resd_list = list(np.array(korean_df['avg_resd'].tolist()))
avg_work_list = list(np.array(korean_df['avg_work'].tolist()))
avg_visit_list = list(np.array(korean_df['avg_visit'].tolist()))


# 거주여부별,성별 연령별(0,20,30,40,60,70)
# 거주 0 : 성별, 연령별, 특징(3) (2*6*3 = 36) 
# 거주 X : 성별, 연령별, 특징(2) (2*6*2 = 24)
# => 60개의 변수 => 더 줄여야됨. 

#거주 0
df_array1 = np.zeros(shape=(len(date_df),len(sex_list)*len(age_list)*3))

# 거주 X
df_array2 = np.zeros(shape=(len(date_df),len(sex_list)*len(age_list)*2))


# 거주 0
for i in range(0,len(date_df)):
    date = date_df["Year_Month"][i]
    emd = date_df["emd_nm"][i]
    for j in range(0,len(sex_list)):
        sex = sex_list[j%2]
        for k in range(0,len(age_list)):
            age = age_list[k%len(age_list)]
            colnum = j*18+k*3
            sample_list = korean_df[(korean_df['m'] == date)
                                   &(korean_df['emd_nm'] == emd)
                                   &(korean_df['sex'] == sex)
                                   &(korean_df['age'] == age)
                                   &(korean_df['resd'] == "제주")].index.tolist()
            if sample_list == []:
                df_array1[i,colnum] = np.NaN
                df_array1[i,colnum+1] = np.NaN
                df_array1[i,colnum+2] = np.NaN
            else:
                df_array1[i,colnum] = avg_resd_list[sample_list[0]]           #거주인구 평균
                df_array1[i,colnum+1] = avg_work_list[sample_list[0]]   #근무인구 평균
                df_array1[i,colnum+2] = avg_visit_list[sample_list[0]]   #그외인구 평균

In [12]:
# 거주 X
for i in range(0,len(date_df)):
    date = date_df["Year_Month"][i]
    emd = date_df["emd_nm"][i]
    for j in range(0,len(sex_list)):
        sex = sex_list[j%2]
        for k in range(0,len(age_list)):
            age = age_list[k%len(age_list)]
            colnum = j*12+k*2
            sample_list = korean_df[(korean_df['m'] == date)
                                   &(korean_df['emd_nm'] == emd)
                                   &(korean_df['sex'] == sex)
                                   &(korean_df['age'] == age)
                                   &(korean_df['resd'] == "그외")].index.tolist()
            if sample_list == []:
                df_array2[i,colnum] = np.NaN
                df_array2[i,colnum+1] = np.NaN
            else:
                df_array2[i,colnum] = avg_work_list[sample_list[0]]           #근무인구 평균
                df_array2[i,colnum+1] = avg_visit_list[sample_list[0]]   #그외인구 평균

In [13]:
df_array1

array([[350.44944106,   8.01049012, 193.04540168, ..., 167.44905934,
          1.26634254,  96.54519785],
       [376.89886682,  11.89272091, 211.79849122, ..., 170.19927865,
          1.24393966,  99.42507158],
       [302.15731284,  12.98029288, 173.54502634, ..., 156.50776794,
         14.88693999,  87.13105921],
       ...,
       [180.54673264,   9.32490139,  25.92475889, ..., 151.98240722,
          2.64811632,  22.05018806],
       [203.19829321,   4.64044926,  31.3334627 , ..., 140.32804019,
          0.61087359,  27.90842735],
       [190.30075014,   5.43191764,  36.21221139, ..., 148.26343597,
          0.        ,  26.02787931]])

In [14]:
df_array2

array([[  4.63635235, 113.01872594,   8.70849516, ...,  70.21986841,
          5.01554735,  22.29068821],
       [  0.15595126,  90.41866429,   4.73658259, ...,  71.22246875,
          0.        ,  27.66399552],
       [  2.77253279,  34.869517  ,   6.74591559, ...,  99.42732151,
          7.99286012,  32.84886296],
       ...,
       [  0.        ,  13.78654941,   1.11788792, ...,  63.17393403,
          2.37942972,  11.16164646],
       [  0.        ,  18.83391816,   2.31886519, ...,  44.01217567,
          7.10219785,  10.95764711],
       [  0.        ,  19.57976604,   0.15581264, ...,  36.76348778,
          3.57861327,   6.96689923]])

In [26]:
colname_value = "거주O_"+sex_list[i]+"_"+str(age_list[j])

In [27]:
feature_list1 = ["resd","work","visit"]
feature_list2 = ["work","visit"]

colname1 = []
colname2 = []

# 거주 O
for i in sex_list:
    for j in age_list:
        for k in feature_list1:
            colname_value = "거주O_"+i+"_"+str(j)+"_"+k
            colname1.append(colname_value)
            
# 거주 X
for i in sex_list:
    for j in age_list:
        for k in feature_list2:
            colname_value = "거주X_"+i+"_"+str(j)+"_"+k
            colname2.append(colname_value)

In [28]:
# 위에서 만든 각 특징값이 담긴 array배열을 데이터 프레임에 저장
cat_df1 = pd.DataFrame(df_array1, columns = colname1)
cat_df2 = pd.DataFrame(df_array2, columns = colname2)

# date_df, cat_df1, cat_df2 병합
korean_df_new = pd.concat([date_df, cat_df1, cat_df2], axis=1)

In [29]:
korean_df_new

,Year_Month,emd_nm,거주O_남성_0_resd,거주O_남성_0_work,거주O_남성_0_visit,거주O_남성_20_resd,거주O_남성_20_work,거주O_남성_20_visit,거주O_남성_30_resd,거주O_남성_30_work,...,거주X_여성_20_work,거주X_여성_20_visit,거주X_여성_30_work,거주X_여성_30_visit,거주X_여성_40_work,거주X_여성_40_visit,거주X_여성_60_work,거주X_여성_60_visit,거주X_여성_70_work,거주X_여성_70_visit
0,2018-01-01,건입동,350.449441,8.010490,193.045402,297.879964,92.983867,268.254655,419.138116,95.150269,...,0.849652,201.708434,3.095511,149.473093,5.725734,157.793788,0.760684,70.219868,5.015547,22.290688
1,2018-02-01,건입동,376.898867,11.892721,211.798491,304.721008,81.341594,280.109909,419.608918,85.541727,...,3.889460,209.289232,8.019615,144.745262,7.465699,132.971418,5.480244,71.222469,0.000000,27.663996
2,2018-03-01,건입동,302.157313,12.980293,173.545026,273.927896,85.913123,269.133188,417.867035,93.400925,...,0.595223,179.619505,4.454866,145.331568,7.000414,137.050675,1.213751,99.427322,7.992860,32.848863
3,2018-04-01,건입동,292.502968,10.884222,197.994971,284.084417,93.238049,268.335625,401.416736,101.804257,...,4.804073,155.626238,4.202650,150.514100,5.750559,159.957549,6.252506,125.952834,6.015327,46.738731
4,2018-05-01,건입동,282.538264,8.403684,196.990717,295.058321,86.060344,280.138194,401.874829,96.110773,...,5.106274,163.774587,2.476966,143.747018,5.798682,149.727241,0.758502,93.889909,0.000000,32.797218
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1801,2021-02-01,효돈동,222.510444,6.939278,44.244653,142.407419,14.179054,53.808156,180.087750,15.234575,...,1.943441,66.968882,0.000000,49.104046,2.840221,44.647608,2.777232,33.161564,0.383951,13.542675
1802,2021-03-01,효돈동,184.050724,2.127180,34.610074,140.158065,7.427179,44.479943,175.446988,15.988659,...,0.000000,54.151809,3.889325,41.802852,1.498272,42.688094,0.000000,43.031503,0.000000,12.397620
1803,2021-04-01,효돈동,180.546733,9.324901,25.924759,128.872350,7.613932,38.998664,172.078059,16.089038,...,1.168261,61.166594,0.294228,58.343378,1.802332,60.698936,2.620352,63.173934,2.379430,11.161646
1804,2021-05-01,효돈동,203.198293,4.640449,31.333463,129.487713,4.259849,42.330309,167.379332,14.634303,...,0.000000,80.385726,0.000000,67.937546,0.000000,54.486624,0.000000,44.012176,7.102198,10.957647
1805,2021-06-01,효돈동,190.300750,5.431918,36.212211,135.293985,5.010381,42.819111,166.763056,16.843469,...,0.670959,79.870756,0.000000,67.311174,0.157803,50.187717,0.348870,36.763488,3.578613,6.966899

In [30]:
korean_df_new[korean_df_new["emd_nm"]=="건입동"]

,Year_Month,emd_nm,거주O_남성_0_resd,거주O_남성_0_work,거주O_남성_0_visit,거주O_남성_20_resd,거주O_남성_20_work,거주O_남성_20_visit,거주O_남성_30_resd,거주O_남성_30_work,...,거주X_여성_20_work,거주X_여성_20_visit,거주X_여성_30_work,거주X_여성_30_visit,거주X_여성_40_work,거주X_여성_40_visit,거주X_여성_60_work,거주X_여성_60_visit,거주X_여성_70_work,거주X_여성_70_visit
0,2018-01-01,건입동,350.449441,8.010490,193.045402,297.879964,92.983867,268.254655,419.138116,95.150269,...,0.849652,201.708434,3.095511,149.473093,5.725734,157.793788,0.760684,70.219868,5.015547,22.290688
1,2018-02-01,건입동,376.898867,11.892721,211.798491,304.721008,81.341594,280.109909,419.608918,85.541727,...,3.889460,209.289232,8.019615,144.745262,7.465699,132.971418,5.480244,71.222469,0.000000,27.663996
2,2018-03-01,건입동,302.157313,12.980293,173.545026,273.927896,85.913123,269.133188,417.867035,93.400925,...,0.595223,179.619505,4.454866,145.331568,7.000414,137.050675,1.213751,99.427322,7.992860,32.848863
3,2018-04-01,건입동,292.502968,10.884222,197.994971,284.084417,93.238049,268.335625,401.416736,101.804257,...,4.804073,155.626238,4.202650,150.514100,5.750559,159.957549,6.252506,125.952834,6.015327,46.738731
4,2018-05-01,건입동,282.538264,8.403684,196.990717,295.058321,86.060344,280.138194,401.874829,96.110773,...,5.106274,163.774587,2.476966,143.747018,5.798682,149.727241,0.758502,93.889909,0.000000,32.797218
5,2018-06-01,건입동,279.047919,8.492835,200.508354,283.089141,93.106815,269.266679,384.626055,106.638080,...,5.230187,198.741076,6.673160,165.451189,4.519489,132.968800,2.469978,78.479399,0.000000,30.866637
6,2018-07-01,건입동,296.970009,12.639372,190.511876,276.220382,73.035756,271.902842,379.102953,82.667674,...,5.421124,214.145654,5.534820,129.033589,1.393114,104.977704,0.744103,46.499190,12.194158,18.861765
7,2018-08-01,건입동,338.535896,21.619411,174.609311,271.541591,45.928192,284.045397,382.918883,53.814176,...,3.391427,209.304206,4.048135,157.782203,3.150189,120.251895,6.049909,58.205599,0.000000,37.973258
8,2018-09-01,건입동,301.439389,9.659701,186.581176,286.144033,53.464108,309.556326,383.553958,48.833880,...,4.658037,197.791126,5.948819,168.223350,2.569458,132.520216,2.152015,82.201684,6.044343,39.869170
9,2018-10-01,건입동,305.731892,4.493229,178.777948,314.947146,69.421229,258.907794,374.200796,80.334931,...,3.073476,137.811148,7.317179,134.560363,4.019909,131.855506,4.305446,102.155325,0.000000,29.364054
10,2018-11-01,건입동,295.862089,4.090617,180.200755,314.226558,66.567635,258.236891,359.000220,73.717564,...,2.593741,146.599892,0.379648,129.020158,2.761015,136.697722,1.995338,77.738893,0.000000,49.667241
11,2018-12-01,건입동,310.625346,9.356557,183.107537,295.520932,71.961611,260.186742,363.552090,77.592931,...,4.329205,161.031352,1.679205,126.382909,1.487423,131.570979,0.000000,60.493495,6.027847,24.156563
12,2019-01-01,건입동,334.529186,7.366396,161.137093,298.402359,64.721956,263.738461,340.000203,69.879244,...,5.635092,204.773412,5.603485,132.398057,3.677900,150.455498,2.349673,66.280524,0.000000,42.392672
13,2019-02-01,건입동,344.202181,8.414436,169.880401,296.076748,65.273652,265.467054,347.887589,75.203546,...,3.264593,213.601155,1.319558,146.523702,2.112222,154.379086,0.947551,65.952843,0.000000,27.633744
14,2019-03-01,건입동,275.637477,9.002281,138.259366,281.866758,61.594881,255.987463,356.483796,72.378174,...,4.725895,186.827239,2.363500,142.110156,3.846596,149.119589,0.496717,103.224954,5.440023,49.411013
15,2019-04-01,건입동,252.819406,4.175964,160.025904,281.490273,62.203259,263.370701,332.144618,91.220532,...,2.467184,141.898687,0.000000,129.594668,2.708656,139.674530,4.926217,106.451405,0.000000,36.619793
16,2019-05-01,건입동,244.090393,2.996023,169.812878,291.786006,63.175443,273.909447,333.617497,85.194221,...,4.302081,158.523677,0.447362,133.905582,2.615404,136.737525,0.000000,83.728947,0.000000,33.382290
17,2019-06-01,건입동,253.723958,4.926639,157.163952,308.687107,66.290723,279.424313,323.074975,80.335651,...,3.776337,187.439522,0.047220,139.431029,2.782735,125.903926,11.815307,78.389690,0.000000,21.129042
18,2019-07-01,건입동,271.656276,11.685162,154.686155,288.751250,72.545253,269.019315,334.982404,82.397319,...,5.984590,232.514956,4.349344,154.635349,2.900852,138.683218,3.642083,62.903166,5.686695,24.093990
19,2019-08-01,건입동,308.518664,10.227187,177.623678,319.892891,77.357311,275.073645,346.696522,84.201625,...,2.472020,230.988953,2.507637,186.780376,3.835075,159.295962,5.264577,77.301300,6.721392,30.730219
20,2019-09-01,건입동,290.020442,13.713980,141.863053,316.135783,77.471232,257.413783,336.205783,82.179436,...,2.784833,171.974230,1.330457,144.990289,4.690888,116.938948,7.938633,82.281257,1.208964,29.149627
21,2019-10-01,건입동,263.588271,12.126222,156.035112,309.878710,71.853900,245.849875,330.888760,74.905444,...,2.606361,146.319316,1.286330,137.169726,5.859957,142.240769,2.968813,86.542929,0.000000,30.696649
22,2019-11-01,건입동,258.974164,8.895156,179.866254,301.261748,72.846012,244.253379,324.051535,77.520788,...,1.795680,160.534899,3.521161,140.519626,5.596080,145.265546,0.385784,98.940848,2.244809,29.736338
23,2019-12-01,건입동,265.751082,10.322057,182.919378,300.676591,66.405580,273.297472,329.718106,72.592762,...,2.219269,181.080774,2.978517,129.541279,3.762940,149.998088,2.910530,82.271570,0.000000,31.444238
24,2020-01-01,건입동,274.875597,10.411517,197.629937,293.597257,71.292326,279.400608,305.393400,68.140397,...,2.253321,210.580440,5.004806,153.232086,7.640562,181.976469,3.192451,84.232086,10.012824,26.705044
25,2020-02-01,건입동,318.638197,8.986932,163.896825,273.547267,63.195226,263.239565,300.654060,69.398493,...,6.607708,130.944649,6.174573,86.594256,7.370922,104.236005,3.739230,66.354485,11.068051,11.973869
26,2020-03-01,건입동,382.028945,9.894727,114.377767,291.249763,75.251508,239.082198,331.263270,65.228488,...,5.736182,108.969379,2.669497,79.878807,4.259817,75.292130,1.495395,63.081391,2.822719,16.539790
27,2020-04-01,건입동,363.490719,7.991349,126.778657,329.418890,54.482277,229.764736,309.451623,68.364914,...,3.164677,88.960272,4.280370,77.946959,5.711046,69.416355,6.873337,50.540307,3.273403,14.929633
28,2020-05-01,건입동,341.255149,14.247234,132.285691,316.051419,49.991843,242.619704,314.566577,64.048934,...,3.356810,148.974700,3.425015,123.567337,5.766458,105.700114,0.904464,59.635055,4.425330,17.587964
29,2020-06-01,건입동,315.640877,7.323938,124.532945,309.854467,66.630415,238.270625,303.644755,66.679462,...,2.443778,181.937787,7.009942,132.107177,4.462422,109.986485,8.159599,71.709092,0.000000,14.968313
30,2020-07-01,건입동,299.941555,6.338806,117.011802,291.576516,67.330319,247.087626,302.654570,71.332474,...,5.886376,245.199263,0.863648,154.375098,7.623268,112.916485,0.535344,65.837111,0.997878,15.846336
31,2020-08-01,건입동,336.630303,4.051390,137.649964,287.894172,70.675016,241.814864,298.022226,70.010691,...,3.194199,244.777341,2.593598,192.927930,3.521537,163.709458,2.209174,68.699411,7.640749,26.941258
32,2020-09-01,건입동,345.274565,7.128835,120.646395,296.676895,69.667931,232.381455,293.094536,64.065090,...,5.859481,169.324323,2.038614,142.550086,3.804647,92.924107,3.364158,54.391681,0.584255,19.820393
33,2020-10-01,건입동,335.105739,4.653179,130.675613,327.947657,44.997901,239.291176,308.005799,72.110053,...,6.620403,208.931534,1.684590,165.325863,2.328506,141.378590,2.977375,93.165261,4.839189,21.335469
34,2020-11-01,건입동,347.473081,5.338342,131.549400,345.892731,69.821884,276.319469,321.899388,74.259258,...,2.124872,209.568504,5.438450,172.648989,4.501332,158.079298,2.123739,95.262919,6.383108,28.864281
35,2020-12-01,건입동,393.676421,9.200017,122.187640,358.506616,84.443354,276.997369,331.614600,104.086681,...,4.478387,139.440966,0.685624,118.827538,4.993494,95.729274,1.464023,58.879884,4.757843,14.978582
36,2021-01-01,건입동,422.704617,11.325164,113.463704,370.202804,57.524201,285.020360,357.891869,86.419231,...,2.350309,126.927977,5.051653,87.480843,4.629563,100.173133,0.954088,40.412261,3.514242,12.337037
37,2021-02-01,건입동,410.064721,3.915826,152.521614,385.726679,61.204722,291.612695,323.193784,82.681661,...,4.640785,181.512505,2.593726,118.703252,3.211364,140.036558,1.323504,53.062175,3.043717,11.976199
38,2021-03-01,건입동,344.467846,9.027888,133.965801,359.173426,79.336881,272.410520,321.571389,91.486563,...,4.841182,185.654544,6.650984,145.650685,3.667927,139.271441,0.542265,84.905331,3.470255,25.695142
39,2021-04-01,건입동,331.761103,10.260635,139.134139,348.245019,76.512047,279.434432,321.440043,86.240529,...,5.011953,212.856127,8.829998,181.523151,3.336704,175.744215,1.980973,112.771498,1.861666,25.316999
40,2021-05-01,건입동,363.831448,13.472221,149.923400,335.675215,69.343379,302.543017,335.268999,78.978175,...,4.467620,219.502650,8.440633,190.517312,2.567262,159.506811,1.633671,86.893356,3.560238,18.263334
41,2021-06-01,건입동,345.457487,12.148720,145.135416,319.573971,59.501749,347.026096,331.694503,68.808342,...,3.780424,272.226558,10.062187,176.562081,3.117182,157.918157,0.561389,82.179379,7.785550,22.500463

In [31]:
korean_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1806 entries, 0 to 1805
Data columns (total 62 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_Month       1806 non-null   datetime64[ns]
 1   emd_nm           1806 non-null   object
 2   거주O_남성_0_resd    1806 non-null   float64
 3   거주O_남성_0_work    1806 non-null   float64
 4   거주O_남성_0_visit   1806 non-null   float64
 5   거주O_남성_20_resd   1806 non-null   float64
 6   거주O_남성_20_work   1806 non-null   float64
 7   거주O_남성_20_visit  1806 non-null   float64
 8   거주O_남성_30_resd   1806 non-null   float64
 9   거주O_남성_30_work   1806 non-null   float64
 10  거주O_남성_30_visit  1806 non-null   float64
 11  거주O_남성_40_resd   1806 non-null   float64
 12  거주O_남성_40_work   1806 non-null   float64
 13  거주O_남성_40_visit  1806 non-null   float64
 14  거주O_남성_60_resd   1806 non-null   float64
 15  거주O_남성_60_work   1806 non-null   float64
 16  거주O_남성_60_visit  1806 non-null   float64
 17  거주O_남성_70_resd   1806 non-null   float64
 18  거주O_남성_70_work   1806 non-null   float64
 19  거주O_남성_70_visit  1806 non-null   float64
 20  거주O_여성_0_resd    1806 non-null   float64
 21  거주O_여성_0_work    1806 non-null   float64
 22  거주O_여성_0_visit   1806 non-null   float64
 23  거주O_여성_20_resd   1806 non-null   float64
 24  거주O_여성_20_work   1806 non-null   float64
 25  거주O_여성_20_visit  1806 non-null   float64
 26  거주O_여성_30_resd   1806 non-null   float64
 27  거주O_여성_30_work   1806 non-null   float64
 28  거주O_여성_30_visit  1806 non-null   float64
 29  거주O_여성_40_resd   1806 non-null   float64
 30  거주O_여성_40_work   1806 non-null   float64
 31  거주O_여성_40_visit  1806 non-null   float64
 32  거주O_여성_60_resd   1806 non-null   float64
 33  거주O_여성_60_work   1806 non-null   float64
 34  거주O_여성_60_visit  1806 non-null   float64
 35  거주O_여성_70_resd   1806 non-null   float64
 36  거주O_여성_70_work   1806 non-null   float64
 37  거주O_여성_70_visit  1806 non-null   float64
 38  거주X_남성_0_work    1806 non-null   float64
 39  거주X_남성_0_visit   1806 non-null   float64
 40  거주X_남성_20_work   1806 non-null   float64
 41  거주X_남성_20_visit  1806 non-null   float64
 42  거주X_남성_30_work   1806 non-null   float64
 43  거주X_남성_30_visit  1806 non-null   float64
 44  거주X_남성_40_work   1806 non-null   float64
 45  거주X_남성_40_visit  1806 non-null   float64
 46  거주X_남성_60_work   1806 non-null   float64
 47  거주X_남성_60_visit  1806 non-null   float64
 48  거주X_남성_70_work   1806 non-null   float64
 49  거주X_남성_70_visit  1806 non-null   float64
 50  거주X_여성_0_work    1806 non-null   float64
 51  거주X_여성_0_visit   1806 non-null   float64
 52  거주X_여성_20_work   1806 non-null   float64
 53  거주X_여성_20_visit  1806 non-null   float64
 54  거주X_여성_30_work   1806 non-null   float64
 55  거주X_여성_30_visit  1806 non-null   float64
 56  거주X_여성_40_work   1806 non-null   float64
 57  거주X_여성_40_visit  1806 non-null   float64
 58  거주X_여성_60_work   1806 non-null   float64
 59  거주X_여성_60_visit  1806 non-null   float64
 60  거주X_여성_70_work   1806 non-null   float64
 61  거주X_여성_70_visit  1806 non-null   float64
dtypes: datetime64[ns](1), float64(60), object(1)
memory usage: 874.9+ KB

In [32]:
korean_df_new.to_pickle("korean_df.pkl")

In [33]:
korean = pd.read_pickle("korean_df.pkl")

In [34]:
korean_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1806 entries, 0 to 1805
Data columns (total 62 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Year_Month       1806 non-null   datetime64[ns]
 1   emd_nm           1806 non-null   object
 2   거주O_남성_0_resd    1806 non-null   float64
 3   거주O_남성_0_work    1806 non-null   float64
 4   거주O_남성_0_visit   1806 non-null   float64
 5   거주O_남성_20_resd   1806 non-null   float64
 6   거주O_남성_20_work   1806 non-null   float64
 7   거주O_남성_20_visit  1806 non-null   float64
 8   거주O_남성_30_resd   1806 non-null   float64
 9   거주O_남성_30_work   1806 non-null   float64
 10  거주O_남성_30_visit  1806 non-null   float64
 11  거주O_남성_40_resd   1806 non-null   float64
 12  거주O_남성_40_work   1806 non-null   float64
 13  거주O_남성_40_visit  1806 non-null   float64
 14  거주O_남성_60_resd   1806 non-null   float64
 15  거주O_남성_60_work   1806 non-null   float64
 16  거주O_남성_60_visit  1806 non-null   float64
 17  거주O_남성_70_resd   1806 non-null   float64
 18  거주O_남성_70_work   1806 non-null   float64
 19  거주O_남성_70_visit  1806 non-null   float64
 20  거주O_여성_0_resd    1806 non-null   float64
 21  거주O_여성_0_work    1806 non-null   float64
 22  거주O_여성_0_visit   1806 non-null   float64
 23  거주O_여성_20_resd   1806 non-null   float64
 24  거주O_여성_20_work   1806 non-null   float64
 25  거주O_여성_20_visit  1806 non-null   float64
 26  거주O_여성_30_resd   1806 non-null   float64
 27  거주O_여성_30_work   1806 non-null   float64
 28  거주O_여성_30_visit  1806 non-null   float64
 29  거주O_여성_40_resd   1806 non-null   float64
 30  거주O_여성_40_work   1806 non-null   float64
 31  거주O_여성_40_visit  1806 non-null   float64
 32  거주O_여성_60_resd   1806 non-null   float64
 33  거주O_여성_60_work   1806 non-null   float64
 34  거주O_여성_60_visit  1806 non-null   float64
 35  거주O_여성_70_resd   1806 non-null   float64
 36  거주O_여성_70_work   1806 non-null   float64
 37  거주O_여성_70_visit  1806 non-null   float64
 38  거주X_남성_0_work    1806 non-null   float64
 39  거주X_남성_0_visit   1806 non-null   float64
 40  거주X_남성_20_work   1806 non-null   float64
 41  거주X_남성_20_visit  1806 non-null   float64
 42  거주X_남성_30_work   1806 non-null   float64
 43  거주X_남성_30_visit  1806 non-null   float64
 44  거주X_남성_40_work   1806 non-null   float64
 45  거주X_남성_40_visit  1806 non-null   float64
 46  거주X_남성_60_work   1806 non-null   float64
 47  거주X_남성_60_visit  1806 non-null   float64
 48  거주X_남성_70_work   1806 non-null   float64
 49  거주X_남성_70_visit  1806 non-null   float64
 50  거주X_여성_0_work    1806 non-null   float64
 51  거주X_여성_0_visit   1806 non-null   float64
 52  거주X_여성_20_work   1806 non-null   float64
 53  거주X_여성_20_visit  1806 non-null   float64
 54  거주X_여성_30_work   1806 non-null   float64
 55  거주X_여성_30_visit  1806 non-null   float64
 56  거주X_여성_40_work   1806 non-null   float64
 57  거주X_여성_40_visit  1806 non-null   float64
 58  거주X_여성_60_work   1806 non-null   float64
 59  거주X_여성_60_visit  1806 non-null   float64
 60  거주X_여성_70_work   1806 non-null   float64
 61  거주X_여성_70_visit  1806 non-null   float64
dtypes: datetime64[ns](1), float64(60), object(1)
memory usage: 874.9+ KB