In [260]:
import pandas as pd
import numpy as np

In [46]:
card_df = pd.read_csv("./월별데이터 정리/month_card_spending.csv")

In [47]:
card_df['m'] = pd.to_datetime(card_df['m']) #datetime type
card_df['median'] = card_df["sum_use_amt"]/card_df["sum_use_cnt"] # 평균계산

In [48]:
card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20005 entries, 0 to 20004
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   m            20005 non-null  datetime64[ns]
 1   emd_cd       20005 non-null  object
 2   emd_nm       20005 non-null  object
 3   count_num    20005 non-null  int64
 4   mct_cat_cd   20005 non-null  object
 5   mct_cat_nm   20005 non-null  object
 6   sum_use_cnt  20005 non-null  float64
 7   sum_use_amt  20005 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 1.2+ MB

In [52]:
# 중복되는 정보인 emd_cd, mct_cat_cd 삭제
# count_num : 각 달에 소비내역이 존재하는 날인데,,, 뭔가 이거까지 넣기에는 변수가 너무 많아질 것 같아서 일단 뺐어요.
card_df = card_df.drop(columns=['emd_cd','mct_cat_cd','count_num'])

In [259]:
card_df["sum_use_amt"].to_matrix

AttributeError: 'Series' object has no attribute 'to_matrix'

In [280]:
## 새로운 테이블 생성

# 업종명을 담은 리스트
cat_list = list(card_df['mct_cat_nm'].unique())

# 각 동의 이름을 담은 리스트 생성
region_list = list(card_df['emd_nm'].unique())


# 2018-01-01 ~ 2021-06-01 (주기: 월) 날짜에 동별 정보를 담은 dataframe
dt_index = pd.date_range(start='20180101', end='20210601',freq='MS')
val1 = list(dt_index)*len(region_list)
val2 = []
for i in region_list:
    for j in range(0,len(dt_index)):
        val2.append(i)
        
date_df = pd.DataFrame({'Year_Month':val1, 'emd_nm':val2})

In [255]:
val1

[Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),
 Timestamp('2019-03-01 00:00:00', freq='MS'),
 Timestamp('2019-04-01 00:00:00', freq='MS'),
 Timestamp('2019-05-01 00:00:00', freq='MS'),
 Timestamp('2019-06-01 00:00:00', freq='MS'),
 Timestamp('2019-07-01 00:00:00', freq='MS'),
 Timestamp('2019-08-01 00:00:00', freq='MS'),
 Timestamp('2019-09-01 00:00:00', freq='MS'),
 Timestamp('2019-10-01 00:00:00', freq='MS'),
 Timestamp('2019-11-01 00:00:00', freq='MS'),
 Timestamp('2019-12-01 00:00:00', freq='MS'),
 Timestamp('2020-01-01 00:00:00', freq='MS'),
 Timestamp('2020-02-01 00:00:00', freq='MS'),
 Timestamp('2020-03-01 00:00:00', freq='MS'),
 Timestamp('2020-04-01 00:00:00', freq='MS'),
 Timestamp('2020-05-01 00:00:00', freq='MS'),
 Timestamp('2020-06-01 00:00:00', freq='MS'),
 Timestamp('2020-07-01 00:00:00', freq='MS'),
 Timestamp('2020-08-01 00:00:00', freq='MS'),
 Timestamp('2020-09-01 00:00:00', freq='MS'),
 Timestamp('2020-10-01 00:00:00', freq='MS'),
 Timestamp('2020-11-01 00:00:00', freq='MS'),
 Timestamp('2020-12-01 00:00:00', freq='MS'),
 Timestamp('2021-01-01 00:00:00', freq='MS'),
 Timestamp('2021-02-01 00:00:00', freq='MS'),
 Timestamp('2021-03-01 00:00:00', freq='MS'),
 Timestamp('2021-04-01 00:00:00', freq='MS'),
 Timestamp('2021-05-01 00:00:00', freq='MS'),
 Timestamp('2021-06-01 00:00:00', freq='MS'),
 Timestamp('2018-01-01 00:00:00', freq='MS'),
 Timestamp('2018-02-01 00:00:00', freq='MS'),
 Timestamp('2018-03-01 00:00:00', freq='MS'),
 Timestamp('2018-04-01 00:00:00', freq='MS'),
 Timestamp('2018-05-01 00:00:00', freq='MS'),
 Timestamp('2018-06-01 00:00:00', freq='MS'),
 Timestamp('2018-07-01 00:00:00', freq='MS'),
 Timestamp('2018-08-01 00:00:00', freq='MS'),
 Timestamp('2018-09-01 00:00:00', freq='MS'),
 Timestamp('2018-10-01 00:00:00', freq='MS'),
 Timestamp('2018-11-01 00:00:00', freq='MS'),
 Timestamp('2018-12-01 00:00:00', freq='MS'),
 Timestamp('2019-01-01 00:00:00', freq='MS'),
 Timestamp('2019-02-01 00:00:00', freq='MS'),

In [316]:
# 값 채우기
# 되긴 되는데 너무 오래걸린다...

median_list = list(np.array(card_df["median"].tolist())) 
cat_array = np.zeros(shape=(len(date_df),len(cat_list))) #조건에 맞는 평균값을 저장할 배열


for i in range(0,len(date_df)):
    date = date_df["Year_Month"][i]
    emd = date_df['emd_nm'][i]
    for j in range(0,len(cat_list)):
        sample_list = card_df[(card_df['m']==date)
                      &(card_df['emd_nm'] == emd)
                      &(card_df['mct_cat_nm']==cat_list[j])].index.tolist()
        if sample_list == []:
            cat_array[i,j] = np.NaN
        else:
            cat_array[i,j] = median_list[sample_list[0]]

In [320]:
# 위에서 만든 median 값이 담긴 array 배열을 데이터 프레임에 저장
cat_df = pd.DataFrame(cat_array, columns = cat_list)

In [324]:
# date_df, cat_df 병합
card_df_new = pd.concat([date_df, cat_df], axis=1)

In [332]:
card_df_new

,Year_Month,emd_nm,간식,농축수산물,마트/슈퍼마켓,배달,부페,식품,아시아음식,양식,주점및주류판매,패스트푸드,한식
0,2018-01-01,건입동,11611.036784,106259.712184,34960.851143,19780.919658,92397.272727,49201.660617,35641.942886,33591.553037,32659.812641,16067.324198,34176.972390
1,2018-02-01,건입동,13200.743771,129250.812062,41764.770832,18826.683521,116451.857143,60057.002143,35777.342187,41546.210117,46362.735849,16735.976110,34383.058920
2,2018-03-01,건입동,11118.287795,80525.058030,32996.785018,19447.298319,107885.760000,52634.300075,33289.151541,44594.545626,32807.068966,15504.352393,32613.028016
3,2018-04-01,건입동,11928.152409,103666.390994,32784.623009,18544.462774,56713.466667,50423.624625,38375.738513,46064.750219,38741.415385,15263.421472,33976.176171
4,2018-05-01,건입동,12378.112014,74175.581937,33580.338901,20405.593880,84271.500000,49263.059602,36232.578479,35229.278632,38258.810526,16030.831987,33646.099706
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1843,2021-02-01,효돈동,13026.598726,56997.741585,52770.552979,22097.697226,506000.000000,34924.625585,32787.755162,35352.533333,47377.578947,15485.766559,33283.108802
1844,2021-03-01,효돈동,11439.275330,50868.001608,50008.374696,19473.936575,NaN,23937.313054,35503.296137,34423.222222,41898.412121,17183.128071,31484.521323
1845,2021-04-01,효돈동,11110.310428,82127.390347,46488.787724,20422.919469,NaN,36128.328099,32163.787179,41016.687179,39490.690909,16018.479027,32371.645395
1846,2021-05-01,효돈동,12239.600914,72589.104651,47158.580090,20983.949077,NaN,24712.667210,37395.237209,42133.709091,45912.662069,18672.407010,32473.150359
1847,2021-06-01,효돈동,11875.987665,72085.200000,43775.581123,18868.273367,NaN,28268.791420,35717.191667,41346.266667,38472.314286,17284.582573,32141.156919

In [333]:
card_df_new[card_df_new["emd_nm"]=="건입동"]

,Year_Month,emd_nm,간식,농축수산물,마트/슈퍼마켓,배달,부페,식품,아시아음식,양식,주점및주류판매,패스트푸드,한식
0,2018-01-01,건입동,11611.036784,106259.712184,34960.851143,19780.919658,92397.272727,49201.660617,35641.942886,33591.553037,32659.812641,16067.324198,34176.972390
1,2018-02-01,건입동,13200.743771,129250.812062,41764.770832,18826.683521,116451.857143,60057.002143,35777.342187,41546.210117,46362.735849,16735.976110,34383.058920
2,2018-03-01,건입동,11118.287795,80525.058030,32996.785018,19447.298319,107885.760000,52634.300075,33289.151541,44594.545626,32807.068966,15504.352393,32613.028016
3,2018-04-01,건입동,11928.152409,103666.390994,32784.623009,18544.462774,56713.466667,50423.624625,38375.738513,46064.750219,38741.415385,15263.421472,33976.176171
4,2018-05-01,건입동,12378.112014,74175.581937,33580.338901,20405.593880,84271.500000,49263.059602,36232.578479,35229.278632,38258.810526,16030.831987,33646.099706
5,2018-06-01,건입동,11755.872279,84397.037604,34419.728013,21403.454910,73274.314286,45691.888259,35625.395690,32201.013559,42385.200000,14762.096330,32605.412329
6,2018-07-01,건입동,11951.132341,84718.605900,33621.443862,20913.829449,85762.890909,41593.997744,34099.053972,33165.981818,36593.475862,15428.404022,31511.447429
7,2018-08-01,건입동,11599.600820,69973.292025,35389.029312,21412.439147,188771.929412,47260.372046,37999.364376,32053.021243,32582.828571,15278.100077,31491.271825
8,2018-09-01,건입동,12764.825998,112558.801948,33616.246524,22811.906810,76765.618182,52754.537378,35899.521522,31450.946062,36956.183206,15436.116012,34715.714286
9,2018-10-01,건입동,11583.336214,89800.987531,34732.723350,22839.251734,54136.145455,50710.018210,32200.311425,39086.426041,38848.676056,14967.731596,32318.013443
10,2018-11-01,건입동,12781.383784,100967.578202,32677.296441,22537.922667,156234.523810,51795.220705,35498.447826,31485.196209,36193.746512,15774.146592,31470.504027
11,2018-12-01,건입동,11998.202348,93991.075508,35619.361789,22236.988338,64151.362500,50931.444689,36400.354549,35300.945274,36621.315942,16064.985078,32209.466419
12,2019-01-01,건입동,11313.588398,96231.440522,38188.310174,22330.141876,88970.636364,54851.945664,36712.010934,33267.270852,39685.302778,16022.618528,32593.049426
13,2019-02-01,건입동,12577.113692,77631.188093,34833.716979,22770.124730,95081.371429,52225.022105,38182.295066,32696.699543,35155.830769,16751.491949,31706.849114
14,2019-03-01,건입동,11795.601982,79539.032905,31093.716035,20687.321941,100263.294118,47895.561967,37501.261204,34212.756098,40033.467742,14298.089721,30313.432881
15,2019-04-01,건입동,11631.613257,122439.708420,32514.964650,22900.154839,109124.836364,45065.097698,35992.509091,38352.450888,36409.017722,15402.636284,30385.754182
16,2019-05-01,건입동,11608.160168,99377.430088,32350.227476,21339.153271,97519.650000,43596.042759,36364.922593,39254.337931,35811.987342,16979.626960,30608.571977
17,2019-06-01,건입동,11407.574400,53695.830728,30982.561020,21293.131722,91236.654545,41058.151132,37141.382353,33589.781897,36136.902273,15075.805825,33099.396147
18,2019-07-01,건입동,11137.314557,93727.851223,30372.336904,21035.118015,85244.000000,44292.016306,32639.709075,35431.329300,36511.500000,15400.538909,31745.591518
19,2019-08-01,건입동,11736.386523,104451.982168,30406.597921,20903.668981,77371.292308,46523.153100,37774.765534,35319.597507,39027.893891,14819.572394,30615.679925
20,2019-09-01,건입동,12018.502667,118160.624373,32115.948243,20692.195373,68002.200000,48476.689228,36963.014248,47049.161290,39450.837736,15134.663203,30623.507555
21,2019-10-01,건입동,10322.012110,93977.843356,30939.771571,21633.248000,106188.375000,44630.667823,36860.200941,35127.242515,35512.160494,16132.612289,30127.720087
22,2019-11-01,건입동,11539.070906,92860.211063,32008.530248,22744.532312,45427.200000,43966.958911,39165.750000,34347.850662,36688.100760,20131.244776,29878.796972
23,2019-12-01,건입동,12950.953039,132696.758945,32042.513324,21941.117136,126609.888889,47200.833765,39062.379962,35060.747302,34646.752475,15254.521285,30835.095586
24,2020-01-01,건입동,12605.074005,94288.289564,31594.718419,22712.943464,79768.026316,49353.723079,36281.729186,40539.890943,36313.264463,15498.177384,30729.357490
25,2020-02-01,건입동,11117.897944,84245.342256,33423.831285,22970.495575,74952.000000,47207.338566,32223.416988,39095.525478,35500.909091,15259.021588,31184.624031
26,2020-03-01,건입동,12317.530636,73122.976190,33975.350693,22287.595455,16000.000000,44928.890036,32773.118280,36642.282609,40909.183673,15315.143678,31413.369317
27,2020-04-01,건입동,11781.530910,79962.409562,29856.125388,22152.203816,NaN,46987.880272,40555.951318,32691.496257,36428.205000,14992.336808,30481.173006
28,2020-05-01,건입동,12398.579569,100991.909668,29672.131441,24216.147018,124377.400000,43486.611918,35851.743402,40151.391904,33504.876364,14668.200395,32625.203354
29,2020-06-01,건입동,11049.220807,77171.512909,32140.791791,23549.520710,60364.800000,42985.136667,40266.436380,38077.074906,33085.882952,14465.754266,31389.817441
30,2020-07-01,건입동,11747.469003,66518.314203,31166.334062,24100.042210,95984.675000,41723.148106,35446.001960,39049.265996,34506.040856,15801.547431,31298.490176
31,2020-08-01,건입동,12027.176385,85733.345582,28966.416927,24105.414377,86096.200000,42972.490153,34979.328942,32878.655395,33739.573438,15083.515385,31855.095982
32,2020-09-01,건입동,12994.995211,104988.239947,31359.789054,23697.522229,17374.000000,47608.781734,33761.806084,35034.212435,41344.653488,14810.825823,30404.984588
33,2020-10-01,건입동,12543.722584,127220.707977,29799.923838,24396.776489,83873.945455,42636.419534,35522.317925,38179.537572,36353.611479,14185.792881,33105.031599
34,2020-11-01,건입동,12252.943672,77647.676578,32119.034379,23822.850734,124073.840000,44083.350411,32624.307442,30169.221640,39085.389006,15008.193840,31709.961194
35,2020-12-01,건입동,12882.191597,113018.746863,32650.787635,24603.593977,43958.933333,41546.670249,31873.547465,29215.218487,40159.963303,14996.823127,29115.005701
36,2021-01-01,건입동,12353.360387,102423.845475,32100.496844,24354.547482,NaN,43094.523075,32946.861721,31671.629827,35116.400000,15380.604202,28141.802423
37,2021-02-01,건입동,13039.157790,93261.962460,35094.728702,24039.356523,20746.000000,45050.733788,30138.171946,32500.402187,40998.597510,15018.724818,30653.078314
38,2021-03-01,건입동,12549.840239,95778.835986,30392.879832,23980.887597,159826.000000,42387.203260,31693.063672,34334.279167,42606.016241,14991.743863,31370.156582
39,2021-04-01,건입동,11576.748697,87889.170395,29939.323763,23448.095688,115507.300000,42834.164079,31686.581779,32503.314109,40426.152000,14736.324104,30159.021799
40,2021-05-01,건입동,13085.689545,93976.283596,31761.236317,24479.860663,84470.400000,43693.785667,34524.000000,37451.501446,39331.636364,14808.580515,31949.969612
41,2021-06-01,건입동,12059.580042,68694.742136,34515.778304,24175.151392,96238.285714,41473.705458,28754.084099,39080.880882,44799.192000,14061.319742,29096.741162

In [334]:
card_df_new.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year_Month  1848 non-null   datetime64[ns]
 1   emd_nm      1848 non-null   object
 2   간식          1848 non-null   float64
 3   농축수산물       1848 non-null   float64
 4   마트/슈퍼마켓     1848 non-null   float64
 5   배달          1847 non-null   float64
 6   부페          1535 non-null   float64
 7   식품          1848 non-null   float64
 8   아시아음식       1848 non-null   float64
 9   양식          1844 non-null   float64
 10  주점및주류판매     1843 non-null   float64
 11  패스트푸드       1848 non-null   float64
 12  한식          1848 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 187.8+ KB

In [335]:
# pkl 확장자로 저장하면 데이터타입이 안 날라간대요

card_df_new.to_pickle("card_df.pkl")

In [336]:
card = pd.read_pickle("card_df.pkl")

In [337]:
card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Year_Month  1848 non-null   datetime64[ns]
 1   emd_nm      1848 non-null   object
 2   간식          1848 non-null   float64
 3   농축수산물       1848 non-null   float64
 4   마트/슈퍼마켓     1848 non-null   float64
 5   배달          1847 non-null   float64
 6   부페          1535 non-null   float64
 7   식품          1848 non-null   float64
 8   아시아음식       1848 non-null   float64
 9   양식          1844 non-null   float64
 10  주점및주류판매     1843 non-null   float64
 11  패스트푸드       1848 non-null   float64
 12  한식          1848 non-null   float64
dtypes: datetime64[ns](1), float64(11), object(1)
memory usage: 187.8+ KB